/*little stylings for header*/

#header {
    margin: 10px 0;
}

#header h1.title {
    text-align: center;
} 

/*stylings for the map and stuff inside the map, like our popover*/
path {
    -webkit-transition: fill 2s; /* Safari */
    transition: fill 1s;
    cursor: pointer;
}

.popover {
    border-radius: 0;
}

ul.filters {
    list-style: none;
    padding: 0;
}


/*stylings for the filter - added a custom checkbox styling*/
.filter-wrapper {
    margin: 30px 0;
}

.popover-content .popover-list {
    list-style: none;
    padding-left: 0;
}

.parteifilter-wrapper {
    margin-bottom: 45px;
}

/*positioning and cursor style*/
label {
    cursor: pointer;
    position: relative;
    padding-left: 35px;
}

label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/*custom checkbox styles here*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #aaa;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}